@tailwind base;
@tailwind components;
@tailwind utilities;

*:focus {
  outline: none;
}

:root {
  --background-color: #242424;
  --contrast-color: rgba(255, 255, 255, 0.87);
  --sign-color: var(--contrast-color);
  --highlight-color: #ffff77;

  --sun-fill-color: #ffb31e;
  --sun-stroke-color: #cb6c2f;

  --moon-fill-color: #4c8ce6;
  --moon-stroke-color: #1855aa;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--contrast-color);
  background-color: var(--background-color);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



}

@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ffffff;
    --contrast-color: #213547
  }
}