.cell {
  border: 1px var(--contrast-color) solid;
  height: 65px;
  width: 65px;
  align-items: center;
  justify-content: center;
  position: relative;
}


.cell-content {
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  z-index: 2;
}

.cell-down,
.cell-right {
  height: 4rem;
  width: 4rem;
  align-items: center;
  justify-content: center;
  display: flex;
  position: absolute;
  z-index: 1;

  opacity: 1;
}


.cell-down {
  transform: translateY(2rem);
}

.cell-right {
  transform: translateX(2rem);
}